{
 :kafka {"bootstrap.servers" "localhost:9092"
         :require            true
         "group.id"          "alerts"
         "topic"             "hh_alerts"
         :description        "Kafka Consumer Configurations"}
 }
